<!DOCTYPE html>
<html>
    <head>
        <title>Удалить изображение</title>
    </head>
    <body>
        <form method="POST" action="/moderator/image/delete">
            
            <label for="type">Type:</label>
            <input list="typeList" name="type" placeholder="Location Type">
            <datalist id="typeList">
                <option value="Country"></option>
                <option value="Region"></option>
                <option value="City"></option>
                <option value="Attraction"></option>
            </datalist>
            <br><br>

            <label for="name">Name:</label>
            <input type="text" placeholder="Name" name="name">
            <br><br>

            <input type="submit" placeholder="Send data">
        </form>
    </body>
</html>