<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>
    <body>
        <div class="wrapper">
            <div id="content">
                <header>
                    <h1>Спутниковые снимки</h1>
                    <p>Чтобы просматривать фотографии со спутников, вам необходимо авторизоваться:</p>

                </header>
                <main>
                    <h2>Ссылки для тестов (автоматом перейдешь на добавленную фотку, проверка корректности введеных значений еще не реализована)</h2>
                    <a href="/moderator/image/add">Добавить фотку</a><br>
                    <a href="/moderator/image/update">Редактировать фотку</a><br>
                    <a href="/moderator/image/delete">Удалить фотку</a>
                </main>
            </div>      
        </div>
    </body>
</html>