<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Редактировать изображение</title>
    </head>
    <body>
        <form method="POST" action="/moderator/image/update" enctype="multipart/form-data">
            
            <label for="type">Type:</label>
            <input list="typeList" name="type" placeholder="Location Type">
            <datalist id="typeList">
                <option value="Country"></option>
                <option value="Region"></option>
                <option value="City"></option>
                <option value="Attraction"></option>
            </datalist>
            <br><br>

            <label for="name">Name:</label>
            <input type="text" placeholder="Name" name="name">
            <br><br>

            <label for="parentName">Parent name (if type == country this field may be null</label>
            <input type="text" placeholder="Parent name" name="parentName">
            <br><br>

            <label for="newName">New Name:</label>
            <input type="text" placeholder="New Name" name="newName">
            <br><br>
            
            <label for="description">Description:</label>
            <input type="text" placeholder="Description" name="description">
            <br><br>

            <label for="name">Image:</label>
            <input type="file" placeholder="Image" name="image" accept="image/png">
            <br><br>

            <input type="submit" placeholder="Send data">
        </form>
    </body>
</html>